header{ display: grid ;
    background-color:#c2abe3 ;
    padding: 30px ;
    word-spacing: 20px 

}

a:link{ text-decoration: none ;

}


img { display: grid block ;
    block-size: 500px ;
    border-radius: 10% ;
    padding: 5% ;
}

